{
  "name": "{{ project_name | default('project', true) }}",
  "image": "mcr.microsoft.com/devcontainers/base:ubuntu",
  "features": {
    "ghcr.io/devcontainers-extra/features/mise:1": {}
  },
  "postCreateCommand": "mise trust && mise install"
}
